@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant h-sm (@media (min-height: 667px));
@custom-variant h-md (@media (min-height: 800px));
@custom-variant h-lg (@media (min-height: 900px));

@layer base {
  body, html {
    @apply bg-indigo-50 m-0 p-0 box-border overflow-hidden
  }

  h1 {
    @apply font-bold
  }

  nav {
    @apply overflow-hidden h-[112px]
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  form {
    @apply flex flex-col gap-2
  }

  label {
    @apply text-right w-17.5
  }

  input {
    @apply border-2 border-zinc-700 px-2 py-1 focus:outline-indigo-200 focus:outline-2 max-w-40 sm:max-w-xs
  }

  button {
    @apply cursor-pointer
  }
}

@layer components {
  .header {
    @apply border-2 border-zinc-600 m-5 bg-white
  }

  .stories {
    @apply flex gap-8 p-4 overflow-x-scroll pb-5
  }

  .newStory {
    @apply size-16 rounded-full border-2 border-zinc-700 disabled:bg-zinc-400 disabled:opacity-75 flex justify-center items-center
  }

  .storiesList {
    @apply max-w-80 sm:max-w-120 min-w-80 sm:min-w-120 border-2 border-zinc-700 h-full flex flex-col bg-indigo-100 relative max-h-220 
  }

  .miniStoriesList {
    @apply max-w-60 min-w-60 border-2 border-zinc-700 h-[50%] h-sm:h-[60%] h-lg:h-[50%] flex flex-col bg-indigo-100 relative min-h-75.25 max-h-115 cursor-pointer
  }

  .profile {
    @apply flex justify-between p-2 items-center bg-indigo-200 border-b-2 border-indigo-400 pb-3
  }

  .progress {
    @apply flex gap-1 pt-2 px-2 w-full bg-indigo-200
  }

  .progressTick {
    @apply w-full h-0.5 flex gap-1
  }

  .story {
    @apply flex flex-1 overflow-hidden items-center justify-center
  }

  .storiesView {
    @apply h-screen p-5 flex justify-center sm:gap-4 items-center
  }

  .mainPage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @apply text-center text-xl mx-auto bg-indigo-50 pt-7
  }

  .mainPageParagraph {
    @apply text-xl sm:text-2xl font-bold uppercase 
  }

  .inputContainer {
    @apply text-right items-center
  }
}

@layer utilities {
  .profilePicture {
    @apply max-h-16 min-h-16 max-w-16 min-w-16 rounded-full border-2 bg-linear-120 from-zinc-200 to-zinc-800 p-1 object-cover border-none
  }

  .profilePicture.notSeen {
    @apply bg-linear-120 from-indigo-200 to-indigo-800 p-1 border-none
  }
  /* outline-2 outline-red-500 outline-offset-2 */
  .profilePictureMini {
    @apply size-10 rounded-full border-2 border-zinc-700 object-cover
  }

  .storyImage {
    @apply relative object-contain block w-full
  }

  .inside {
    @apply absolute z-10 left-20 top-24 h-sm:top-32 h-md:top-42
  }

  .progressBar {
    @apply absolute h-0.5 pl-1 bg-white left-0
  }

  .progressLine {
    @apply bg-zinc-400 w-full h-0.5 relative
  }

  .progressBar.active {
    padding-left: 100%;
    animation: slideIn 15s linear forwards;
  }

  .storyNotFound {
    @apply flex items-center h-full pb-18 justify-center text-white font-bold
  }

  .trigger {
    @apply underline hover:bg-linear-120 from-indigo-200 to-indigo-300 rounded-full size-16 flex justify-center
  }
}

@keyframes slideIn {
  from {
    padding-left: 4px;
  }
  to {
    padding-left: 100%;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}